body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  align-items: flex-end;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  height: 90vh;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 80vw;
}

.logo {
  width: 100%;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  font-size: 5vw;
}

h2 {
  margin: 0;
  color: #006dbd;
  height: 2.5vw;
}

.emphasis {
  color: #006dbd;
}

.page {
  height: 95vh;
  scroll-snap-align: center;
}

.preview {
  max-width: 300px;
}

.sitelist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3em;
  column-gap: 3em;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-options {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 2em;
}

.price {
  padding: 1.25em;
  text-align: center;
}

.profile {
  max-width: 100%;
}
